@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800&display=swap');

/* Start Global Rules */
* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

:root {
   --main-color: #4065aa;
   --main-color-alt: #4065aa;
   --main-transition: 0.3s;
   --main-padding-top: 100px;
   --main-padding-bottom: 100px;
   --section-background: #ececec;
}

html {
   scroll-behavior: smooth;
}

main {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   background-image: url('../../assets/images/Orca.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.landing {
   font-family: "Cairo", sans-serif;
   position: relative;
   width: 100%;
}

.landing .container {
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   line-height: 2;
}

.text {
   flex: 1;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

@media (max-width: 991px) {
   .landing .text {
      text-align: center;
      width: 90%;
   }
}

.landing .text h1 {
   align-items: center;
   font-size: 40px;
   letter-spacing: -2px;
}

@media (max-width: 767px) {
   .landing .text h1 {
      font-size: 28px;
   }

   .landing .text h2 {
      font-size: 28px;
   }

   .landing .text h3 {
      font-size: 17px;
   }
}

.landing .text span {
   color: var(--main-color);
}


@media (max-width: 991px) {
   .landing .image {
      display: none;
   }
}

.landing .go-down {
   color: #278a50;
   position: absolute;
   bottom: 70px;
   left: 50%;
   transform: translateX(-50%);
   transition: var(--main-transition);
   cursor: pointer;
}

.landing .go-down .i {
   animation: bouncing 1.5s infinite;
}


h2 {
   font-size: 40px;
   font-weight: bold;
}

h3 {
   font-size: 25px;
}

/* End Landing */

/* Start Animation */
@keyframes left-move {
   50% {
      left: 0;
      width: 12px;
      height: 12px;
   }

   100% {
      left: 0;
      border-radius: 0;
      width: 100%;
      height: 100%;
   }
}

@keyframes right-move {
   50% {
      right: 0;
      width: 12px;
      height: 12px;
   }

   100% {
      right: 0;
      border-radius: 0;
      width: 100%;
      height: 100%;
   }
}

@keyframes up-and-down {

   0%,
   100% {
      top: 0;
   }

   50% {
      top: -50px;
   }
}

@keyframes bouncing {

   0%,
   10%,
   20%,
   50%,
   80%,
   100% {
      transform: translateY(0);
   }

   40%,
   60% {
      transform: translateY(-15px);
   }
}

@keyframes left-right {
   50% {
      transform: translateX(-10px);
   }
}

/* End Animation */
#go-1,
#go-2,
#go-3,
#go-4,
#go-5 {
   position: relative;
   height: 100vh;
}

.gols {
   position: absolute;
   top: 5%0;
   left: 50%;
   transform: translate(-50%, -50%);
}