* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

/* variables */
:root {
   --nunito-font: 'Nunito Sans', sans-serif;
   --montserrat-font: 'Montserrat', sans-serif;
   --green-color: #217443;
   --whitesmoke-color: #f1f1f1;
   --grey-color: #c1c1c1;
   --dark-color: #1a1a1a;
   --light-color: #fff;
   --transition: all 300ms ease-in-out;
   --gradient: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
   --h-w: 400px;
}

body {
   font-family: Arial, sans-serif, Helvetica;
   scroll-behavior: smooth;
   min-height: 10000px;
   position: relative;
}

.content .container {
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.content {
   color: var(--dark-color);
   text-align: center;
   background: url('../images/sustainable-development-goals-still-life.jpg')  center/cover no-repeat;
}

.content .logo img {
   width: var(--h-w);
   height: var(--h-w);
}

.content h1 {
   font-size: 50px;
   font-weight: bold;
   padding-bottom: 20px;
}

@media (max-width: 767px) {
   .content h1 {
      font-size: 30px;
   }

   .content img {
      width: 80px;
   }
}