* {
   transition: 0.3s;
}

:root {
   --green-color: #27ae60;
}
nav .list {
   padding: 0;
   list-style-type: none;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.nav-link {
   font-size: 15px;
   padding: 18px 14px;
}

.active {
   color: var(--green-color) !important;
   font-size: 15px;
   font-weight: bold;
}

.nav-link:hover {
   background-color: #DDD;
   color: var(--green-color) !important;
}

.navbar-brand {
   margin: 0;
}

.navbar-brand img {
   width: 55px;
}

.navbar-brand p {
   font-size: 16px;
   font-weight: bold;
}

@media (max-width: 768px) {
   .navbar-brand p {
      font-size: 13px;
   }
}

.dropdown-menu {
   text-align: right;
   padding: 0;
}

.dropdown-item {
   padding: 20px;
   border-bottom: 1px solid #ddd;
}

.dropdown-item:hover {
   color: var(--green-color) !important;
   border-bottom: 1px solid var(--green-color);
}