* {
   transition: 0.2s;
}

ul {
   list-style-type: none;
}

:root {
   --green-color: #27ae60;
}

.FONT {
   font-weight: bolder;
   font-size: 17px;
}

nav .list {
   padding: 0;
   list-style-type: none;
   display: flex;
   justify-content: center;
   width: 100%;

}

@media (min-width: 768px) {
   nav .list {
      gap: 30px;
   }
}

.nav-link {
   color: white;
   font-size: 19px;
   padding: 20px 14px;
   height: 100%;
}

.active {
   color: var(--green-color) !important;
   font-size: 21px;
   font-weight: bold;
}

.nav-link:hover {
   color: var(--green-color) !important;
}

.dropdown-item {
   padding: 20px;
   border-radius: 3px;
}

.dropdown-item:hover {
   color: var(--green-color) !important;
}

.my-height {
   height: 400px;
}

.dropdown-menu {
   padding: 30px 10px;
   text-align: right;
}

.border-l {
   border-left: 1px solid var(--green-color);
}

.dropdown-menu li {
   height: 100%;
}

@media (min-width: 993px) {
   .dropdown:hover .dropdown-menu {
      right: -150px;
   }
}

.dropdown:hover .dropdown-menu {
   display: flex;
   right: -250px;
}

nav.bgColor {
   background-color: #f8f9fa !important;
}
#nav-link.bgColor {
   color: black !important;
}
