.discussion {
   min-height: 100vh;
   background-image: url('../../assets/images/Orca.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   padding-top: 100px;

}

.discussion .container {
   color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-top: 30px;
   padding-bottom: 30px;
   gap: 30px;
}

.discussion .container h2 {
   font-size: 34px;
   font-weight: 700;
   font-style: normal;
   padding: 20px 0 30px;
   text-align: center;
}

@media (max-width: 767px) {
   .discussion .container h2 {
      font-size: 30px;
      text-align: right;
   }
}

.discussion .container>div {
   display: flex;
   justify-content: space-between;
   gap: 10px;
}



.discussion img {
   width: 600px;
   height: 400px;

}

@media (max-width: 767px) {
   .discussion img {
      width: 100%;
      height: 240px;
   }
}

@media (max-width: 1199px) {
   .discussion .container>div {
      flex-direction: column;
   }

   .discussion img {
      width: 100%;
   }
}

.discussion .container p {
   line-height: 1.7;
   font-size: 20px;
   font-style: normal;
}

@media (max-width: 767px) {
   .discussion .container p {
      font-size: 18px;
   }
}

.discussion .container ul {
   list-style-type: '-  ';
   margin-right: 60px;
   font-size: 20px;
}