.sustainable {
   background-image: url('../../assets/images/Orca.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   color: white;
   text-align: center;
}

.sustainable .home-div {
   height: 100vh;
}

@media (max-width: 991px) {
   .sustainable .text {
      text-align: center;
      width: 90%;
   }
}

.sustainable .text h1 {
   align-items: center;
   font-size: 40px;
   letter-spacing: -2px;
}

@media (max-width: 767px) {
   .sustainable .text h1 {
      font-size: 28px;
   }
}

.sustainable .go-down {
   color: #fff;
   position: absolute;
   bottom: 70px;
   left: 50%;
   transform: translateX(-50%);
   transition: var(--main-transition);
   cursor: pointer;
}

.sustainable .go-down .i {
   animation: bouncing 1.5s infinite;
}
#section2 {
   padding: 100px 0;
   display: flex;
   flex-direction: column;
   gap: 40px;
}
.sus-content {
   line-height: 1.5;
   width: 100%;
   background-color: #ffffffe6;
   border: 1px solid #eee;
   padding: 30px 20px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   border-radius: 3px;
}

.main-head {
   color: #e40d0d;
}

.sub-content {
   color: black;
   position: relative;
   padding: 20px 0;
   border-bottom: 1px solid #eee;
   font-size: 18px;
   font-weight: bold;
}

.sub-content::after {
   position: absolute;
   content: '';
   width: 5%;
   height: 1px;
   bottom: -1px;
   right: 50%;
   transform: translateX(50%);
   background-color: #e40d0d;
   transition: 0.4s;
}

.sus-content:hover .sub-content::after {
   width: 100%;
}


@keyframes bouncing {

   0%,
   10%,
   20%,
   50%,
   80%,
   100% {
      transform: translateY(0);
   }

   40%,
   60% {
      transform: translateY(-15px);
   }
}