main {
   min-height: 100vh;
   background-image: linear-gradient(to right top, #255e45, #1f573f, #194f3a, #124834, #0c412f);   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
}

main div {
   color: white;
   font-weight: bold;
   text-align: center;
   display: flex;
   flex-direction: column;
   gap: 40px;
}

h1 {
   font-size: 50px;
}

h2 {
   font-size: 35px;
}