.slide__s2 {
   height: 100vh;
   background-image: url('../../assets/images/Orca.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   align-items: center;
   justify-content: center;
}

.content {
   display: flex;
   flex-direction: column;
   gap: 20px;
   color: white;
   width: 75%;
   text-align: center;
   font-size: 30px;
}

@media (max-width: 767px) {
   .content {
      font-size: 20px;
   }
}