.slide__s {
   height: 100vh;
   background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, 0)), url('../../assets/images/sustainable-development-goals-still-life.jpg');
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
}

.slide__s2 {
   height: 100vh;
   background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, 0)), url('../../assets/images/main.jpg');
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   display: flex;
   align-items: center;
   justify-content: center;
}

.image-en {
   width: 350px;
   height: 350px;
   position: absolute;
   left: 50%;
   right: 50%;
   transform: translate(-48%, 47%);
   z-index: -1;
}

@media (max-width: 767px) {
   .image-en {
      transform: translate(-48%, 75.5%);
   }
}

.content {
   display: flex;
   flex-direction: column;
   gap: 20px;
   color: white;
   width: 75%;
   text-align: center;
   font-size: 30px;
}